:root {
  /* fonts */
  --font-inter: Inter;
  --font-sansation: Sansation;
  --font-mixed: Mixed;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-xs: 16px;
  --font-size-sm: 19px;
  --font-size-base: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;

  /* Colors */
  --color-whitesmoke-100: #f9fafc;
  --other-light-grey: #f3f2f1;
  --text-primary: #0b0c0c;
  --other-green: #00703c;
  --background: #fff;
  --color-gold: #ffd233;
  --color-black: #000;
  --color-mediumseagreen: #4ecb71;

  /* Gaps */
  --gap-md: 10px;

  /* Paddings */
  --padding-xs: 6px;
  --padding-sm: 7px;
  --padding-md: 8px;
  --padding-lg: 12px;

  /* border radiuses */
  --br-md: 24px;
}
